@import '../../../config/colors';
@import '../../../config/placeholders';
@import '../../../config/mixins';

.edit {
    background: $tertiaryGrey;
    width: 80%;
    padding: 50px 20px 70px 30px;

    form {
        display: block;
        input {
            @extend %input;
            @include border-radius(4px);

            margin-bottom: 20px;
            height: 35px;
            background: #fff;
            padding-left: 10px;

            &:hover {
                background: #fff;
            }
            &:focus {
                border-color: $blue;
                background: #fff;
            }
        }
        textarea {
            @extend %input;
            @include border-radius(4px);

            height: 200px;
            background: #fff;
            padding-left: 10px;
            padding-top: 10px;
            resize: none;

            &:hover {
                background: #fff;
            }
            &:focus {
                border-color: $blue;
                background: #fff;
            }
        }

        button {
            float: right;
            margin-top: 20px;
        }

    }
}