@import './variables';

@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
  }

@mixin border-radius($radius: 5px){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
 }

  // Small devices
@mixin sm {
    @media (max-width: #{$screen-sm-max}) {
        @content;
    }
  }
  
  // Medium devices
  @mixin md {
    @media (max-width: #{$screen-md-max}) {
        @content;
    }
  }
  
  // Large devices
  @mixin lg {
    @media (max-width: #{$screen-lg-max}) {
        @content;
    }
  }
  
  // Extra large devices
  @mixin xl {
    @media (max-width: #{$screen-xl-max}) {
        @content;
    }
  }