<div class="container infos">
    <div class="row">
      <div class="col infos__left col-sm-12 col-md-2">
        <figure>
          <a [routerLink]="['/pokemon', pokemon.id]">
            <img [src]="pokemon?.sprites?.front_default" width="100%" /> 
          </a>          
        </figure>
      </div>
      <div class="col infos__center col-sm-12 col-md-9">
        <form>
            <input type="text" placeholder="Nome do Pokémon" [formControl]="name" value="name" /> 
            <div class="infos__description-area">
                <textarea placeholder="Aqui deve apresentar o conteúdo adicionado" [formControl]="description"></textarea>
                <a [routerLink]="['/edit', pokemon.id]">
                  Adicionar comentário
                </a>
                <!-- <button (click)="edit()">Adicionar comentário</button> -->
                <button class="danger">Excluir comentário</button>
            </div>
        </form>
      </div>
      <div class="col infos__right col-md-1 col-sm-12">
        <figure (click)="onFavorite()">
          <img src="assets/img/favorite-star.png" *ngIf="favorite; else elseBlock" />
          <ng-template #elseBlock>
            <img src="assets/img/star.png" />
          </ng-template>          
        </figure>
      </div>
    </div>
  </div>