<div class="container infos">
    <div class="row">
      <div class="col col__left">
        <img src="assets/img/pokemon-logo.png" width="100%" />
      </div>
      <div class="col col__center">
        <form>
            <input type="text" placeholder="Nome do Pokémon" [formControl]="name"  />
            <textarea placeholder="Aqui deve apresentar o contaúdo adicionado" [formControl]="description"></textarea>
            <div class="infos__buttons">
                <button>Adicionar comentário</button>
                <button>Excluir comentário</button>
            </div>
        </form>
      </div>avatr
      <div class="col col__right">
        star
      </div>
    </div>
  </div>